body {
  background: #CF96F9;
}
.container {
  margin-top: 40px;
}
.newbox {
  margin: 5em 5em 6em;
  background-color: #F1CEF3;
  border-color: #8528B8;
  border-style: dashed;
  border-width: 5px;
}
.header {
  text-align: center;
  color: #8528B8;
  font-family: Tahoma;
  border-top: black dotted;
  border-bottom: black dotted;
}
p {
  font-family: verdana;
  color: #8528B8;
  margin-left: 50px;
  margin-right: 50px;
}
form {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.checkbox {
  font-family: Tahoma;
  display: inline-block;
  color: #8528B8;
  width: 800px;
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 50px;
  border-radius: 4px;
}
.mlabel {
  font-family: Tahoma;
  display: inline-block;
  margin-bottom: 5px;
  width: 800px;
  margin-left: 50px;
  color: #8528B8;
  font-size: 20px;
}
input {
  font-family: Tahoma;
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 50px;
  color: #8528B8;
  font-size: 20px;
}

.tlabel
{
  font-family: Tahoma;
  color: #8528B8;
  display: inline-block;
  clear: none;
  font-size: 16px;}

.slabel
{
  font-family: Tahoma;
  color: #8528B8;
  width: 50%;
  font-size: 16px;
}

